CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build
tmp
dist
ann_on_gpu.egg-info
*egg-info*
*.egg-info*
__pycache__
*.so
perf_test
